@font-face {
	font-family: 'Hanken Grotesk Variable';
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url('./woff2/HankenGrotesk-VariableFont.woff2') format('woff2-variations');
}
