<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>애플 카드 컴포넌트</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <div class="apple-container">
      <article
        class="apple-card flex flex-col gap-2 lg:gap-3 items-center pt-10 bg-amber-200 bg-no-repeat bg-center bg-cover h-(--card-size)"
      >
        <h2 class="text-32 lg:text-40">iPad Pro</h2>
        <p class="text-19 lg:text-21"
          ><span>놀라우리만치 얇다.</span> <span>엄청나게 강력하다.</span></p
        >
        <p class="text-17">출시일 추후 공개</p>
        <div>
          <a
            href="/"
            class="text-xs lg:text-sm p-2 bg-blue-400 text-white inline-flex justify-center items-center rounded-2xl"
            >더 알아보기</a
          >
          <a
            href="/"
            class="text-xs lg:text-sm p-2 border border-current text-black inline-flex justify-center items-center rounded-2xl"
            >가격보기</a
          >
        </div>
      </article>
      <article
        class="apple-card flex flex-col gap-2 lg:gap-3 items-center pt-10 bg-amber-200 bg-no-repeat bg-center bg-cover h-(--card-size)"
      >
        <h2 class="text-32 lg:text-40">iPad Pro</h2>
        <p class="text-19 lg:text-21"
          ><span>놀라우리만치 얇다.</span> <span>엄청나게 강력하다.</span></p
        >
        <p class="text-17">출시일 추후 공개</p>
        <div>
          <a
            href="/"
            class="text-xs lg:text-sm p-2 bg-blue-400 text-white inline-flex justify-center items-center rounded-2xl"
            >더 알아보기</a
          >
          <a
            href="/"
            class="text-xs lg:text-sm p-2 border border-current text-black inline-flex justify-center items-center rounded-2xl"
            >가격보기</a
          >
        </div>
      </article>
      <h2>iPad Pro</h2>
      <p><span>놀라우리만치 얇다.</span> <span>엄청나게 강력하다.</span></p>
      <p>출시일 추후 공개</p>
      <div>
        <a href="/">더 알아보기</a>
        <a href="/">가격보기</a>
      </div>
    </div>
  </body>
</html>
